body{
  padding: 0;
  margin: 0;
    
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
  max-width: 1200px;
  margin: auto;
}   