.navbar-collapse {
    background-color: #fff; /* fond blanc pour le menu mobile */
    z-index: 9999;
}

.navbar-nav .nav-link {
    color: #000 !important;
    transition: color 0.3s;        
    font-size: 1rem;                  
    font-weight: 500;                 
    text-transform: none;            
}

.navbar-nav .nav-link:hover {
    color: red !important;       /* couleur au survol */
    transition: all 0.5s ease-out;
}


.propos-content{
    background-color: black;
    padding-top: 230px;
    padding-bottom: 140px;
    color: white;
}

.propos-content-child h1{
    font-weight: 600;
    font-size: 48px;
}

.mission{
    padding-bottom: 30px;
}

.mission-content h2{
    font-size: 36px;
    color: #FB811B;
    font-weight: 660;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.mission-content p{
    color: #747474;
    font-size: 18px;
    line-height: 36px;
}

.mission-content-list{
    color: #747474;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

.H5{
    color: #FB811B;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
}

@media(max-width: 992px){
  .mission-content .H5{
    font-size: 18px;
  }
}

main{
    background-color: #F8F8F8;
}

footer{
    padding-top: 70px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1Fr;
    padding-bottom: 60px;
}

.footer-content1 span{
    color: #747474;
    font-size: 13px;
    font-weight: 660;
}

footer ul li {
    list-style: none;
}

.footer-content2{
    margin-top: 60px;
}

.footer-content2 h5{
    color: #FB811B;
    font-weight: 700;
    padding-left: 35px;
}

.footer-content2 ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.footer-content2 ul li {
    padding-bottom: 15px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #D9D9D9;
}

.reseaux-sociaux{
    display: flex;
    justify-content: center;
    margin-left: -20%;
}

.reseaux-sociaux ul{
    display: flex;
    gap: 30px;
}

.footer-bottom p{
    font-weight: 600;
}


.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 992px) {

  .footer-content {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .footer-content1 {
    grid-column: 1 / -1;
  }

  .reseaux-sociaux {
    margin-left: 0;
  }
}
@media (max-width: 768px) {

  footer {
    padding-top: 40px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-content2 {
    margin-top: 30px;
  }

  .footer-content2 h5 {
    padding-left: 0;
  }

  .footer-content2 ul li {
    justify-content: center;
  }

  .footer-content2 ul li img {
    margin-right: 8px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .reseaux-sociaux {
    margin-left: 0;
  }

  .reseaux-sociaux ul {
    justify-content: center;
  }
}
@media (max-width: 480px) {

  .footer-content1 span {
    font-size: 12px;
  }

  .footer-content2 ul li a {
    font-size: 14px;
  }

  .footer-bottom p {
    font-size: 13px;
  }
}